{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

  {% if category %}
     {{ category.desc|truncatewords:155 }}
  {% else %}
      Welcome to ECO Home where you can find all organic
  {% endif %}
{% endblock %}


{% block title %}

  {% if category %}
     {{ category.name}} - Eco Home
  {% else %}
      see our organic products-Eco Home
  {% endif %}
{% endblock %}


{% block content %}

  {% if category %}
     <div class="row my_row_class">
        <div class="mx_auto">
           <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a></p>
        </div>
     </div>
  {% endif %}
    <div class="mx_auto">
      {% if category %}
      <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
    </div>
      <br>
    <div>
      <h1 class="text-center">{{category.name}}</h1>
      <p class="text-justify">{{category.desc}}</p>
    </div>
  {% else %}
    <div>
       <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Products" width="1250px" height="400px">
    </div>
  <br>
    <div>
      <h1 class="text-center my_title">Our Organic products</h1>
      <p class="text-justify">This amazing organic food brand is a great option for those looking for gluten-free foods. It also offers the option to buy your favorite organic food items online. It is one of the popular brands of organic food companies in India. This is a great choice for people who need or are looking for organic spices.</p>
    </div>
  {% endif %}
    <div class="container">
       <div class="row mx_auto">
          {% for product in products.object_list %}
          <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
              <div class="card text-center" style="min-width:18rem;">
                  <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                  <div class="card-body">
                      <h4>{{product.name}}</h4>
                       <p>{{product.price}}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
       </div>

        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}

            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                  <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
    </div>



{% endblock %}